<header class="Head">
  <div class="burger-icon">
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="logo">
    <img src="/assets/images/logo.png" alt="THE LOGO" />
  </div>
  <div class="menu">
    <ul>
      <li>WEARABLES</li>
      <li>SPORTS &amp; FITNESS</li>
      <li>OUTDOOR RECREATION</li>
      <li>AUTOMOLTIVE</li>
      <li>MARINE</li>
      <li>AVIATION</li>
    </ul>
  </div>
  <div class="logger">
    <ul>
      <li>
        <a href="#"><i class="far fa-question-circle"></i> Support</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-search"></i></a>
      </li>
      <li>
        <a href="#"><i class="far fa-user-circle"></i></a>
      </li>
      <li>
        <a href="#"><i class="far fa-shopping-cart"></i></a>
      </li>
      <li>0</li>
    </ul>
  </div>
</header>
<div class="FreeShip">
  FREE GROUND SHIPPING ON ORDERS $25 AND UP. FREE 2ND-DAY SHIPPING ON ORDERS
  $499 AND UP.*
</div>
