<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="../assets/css/download.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/fonts/fonts.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="error" id="error">
      Installation Failed! Error Code: G0740E
      <br />
      Drivers Corrupted. An Error has Occurred While Updating Maps...
      <br />
      TO RESTORE CALL SUPPORT :- 1-888-525-9575 (US/CA)
    </div>
    <div class="download">
      <p>Downloading...</p>
      <div class="loader" id="loader">
        <div id="loader-inside"></div>
      </div>
    </div>

    <script>
      setTimeout(function() {
        document.getElementById("error").style.display = "block";
      }, 19000);
    </script>
  </body>
</html>
