<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Garmin Express Support</title>
    <link rel="stylesheet" href="../assets/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/index.css" />
    <link rel="stylesheet" href="/assets/fonts/fonts.css" />
  </head>
  <body>
    <%-include('./Components/Header') %>
    <div class="container1">
      <div class="register">
        <h1>Register, Update Software & Sync Your Device</h1>
        <p><a href="#">System Requirements</a></p>
        <p><a href="#">Download For Windows</a></p>
      </div>

      <div class="computer-image">
        <a href="https://www.youtube.com/embed/EhW5hHb_uH4?autoplay=1"
          ><img src="../assets/images/computer-express.svg"
        /></a>
      </div>
    </div>
    <div class="container2">
      <h1>Manage devices from your desktop.</h1>
      <h2>
        Garmin Express is a computer application for easily setting up,
        registering and managing your Garmin device.
      </h2>
    </div>
    <div class="container3">
      <div class="container3-inside">
        <div class="redeem">
          <img src="../assets/images/voucher-icon.svg" />
          <div class="redeem-text">
            <h2>Redeem a Voucher</h2>
            <p>Activate your maps or services with a voucher or product key.</p>
          </div>
        </div>
        <div class="download">
          <img src="../assets/images/download-icon.svg" />
          <div class="redeem-text">
            <h2>Download Content</h2>
            <p>
              Manage free and paid content, including <a>Connect IQ apps</a> and
              accessory maps.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container4">
      <h3>Stay Up to Date</h3>
      <h4>
        Desktop notifications and step-by-step instructions make it easy to
        update your devices.
      </h4>
      <div class="container4-1">
        <div class="software">
          <img src="../assets/images/software-icon.svg" />
          <div>
            <h2>Map Updates</h2>
            <p>
              Get the latest detailed street maps to ensure fast, accurate
              navigation. Express notifies you when map updates are available
              and helps you install them.
            </p>
          </div>
        </div>
        <div class="software">
          <img src="../assets/images/software-icon.svg" />
          <div>
            <h2>Software Updates</h2>
            <p>
              Express makes software updates easy to install. Get convenient
              desktop notifications when it’s time to update your device.
            </p>
          </div>
        </div>
      </div>
      <div class="container4-1">
        <div class="software random">
          <img src="../assets/images/anchor-icon.svg" />
          <div>
            <h2>Chart Updates</h2>
            <p>
              Download the latest charts to a memory card and make your time on
              the water safer and more enjoyable.
            </p>
          </div>
        </div>
        <div class="software">
          <img src="../assets/images/course-icon.svg" />
          <div>
            <h2>Golf Course Updates</h2>
            <p>
              It’s fast and simple to get the latest free CourseView maps and
              updates for your Garmin golf device.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container5">
      <h2>Sync with Garmin Connect</h2>
      <h3>
        Use Express to upload your activities and wellness data to your Garmin
        Connect™ account.
      </h3>
      <img src="../assets/images/dashboard.svg" />
    </div>
    <%-include('./Components/Footer') %>
  </body>
</html>
